@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GreatestBooks<br />
    5 Book Lane,
    London, W2 7GH<br />
    <abbr title="Phone">P:</abbr>
    02089659387
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@greatestbooks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@greatestbooks.com</a>
</address>