
@{
    ViewBag.Title = "View all Courses";
}

<h2>View all Courses</h2>

<div class="jumbotron">
    <img src="/Pictures/GCSEMathsPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/GCSEEnglishPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/GCSESciencePic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/ALevelMathsPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/ALevelPhyPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/ALevelChemPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/ALevelBioPic.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/French.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/German.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/Spanish.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="jumbotron">
    <img src="/Pictures/Python.png" alt="ALevelMaths" style="width:304px;height:228px;">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Discover the range of courses available. These courses are enjoyable and interactive. We encourage you to follow along in the exercises and practice on your own.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more help</h2>
        <p>We offer the opportunity to get tailored coaching in specific areas of the subject of your desire.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host a course</h2>
        <p>If you host your own course, not only do you share your passion and knowledge, but you will also qualify for many free gifts.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>