@model SocialNetwork.DataAccess.IUser
@{
    ViewBag.Title = "ProfilePage";
}

<h2>Your Profile</h2>

<h3 class="col-md-12">Cover Image Will Go Here</h3>

@*<img src="" class="img-rounded, col-md-4">*@