<div class="alert alert-success col-sm-offset-3 col-sm-6" role="alert">
    <p class="text-center">Your account has been created</p>
    <p class="text-center">@Html.ActionLink("Login to your profile", "Login", "Account")</p>
</div>

