@model SocialNetwork.WebUI.Models.ProfilePageViewModel
@{
    ViewBag.Title = "ProfilePage";
}

@{
    var coverAbsolutePath = "";
    var profileAbsolutePath = "";

    if (Model.user != null)
    { 
        var coverPath = "Content/" + Model.user.username + "-cover.jpg";
        coverAbsolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + coverPath);
        var profilePath = "Content/" + Model.user.username + "-profileimg.jpg";
        profileAbsolutePath = System.Web.HttpContext.Current.Server.MapPath("~/" + profilePath);    
    }
}

<div class="jumbotron">
    @if (System.IO.File.Exists(coverAbsolutePath))
    {
        <img src="~/Content/@Model.user.username-cover.jpg" alt="coverimg" class="under" />
    }
    else
    {
        <img src="~/Content/placeholder-cover.jpg" alt="coverimg" class="under" />
    }
    @if (System.IO.File.Exists(profileAbsolutePath))
    {
        <img src="~/Content/@Model.user.username-profileimg.jpg" alt="profileimg" class="over" style="width:200px;height:200px" />
    }
    else
    {
        <img src="~/Content/placeholder-profileimg.jpg" alt="profileimg" class="over" style="width:200px;height:200px" />
    }    
    <h1 class="over-text text-center">@Model.user.fullName</h1>
</div>


<div class="container" style="margin-top: 150px">
    <div class="ListFriends col-md-2 slideanim">
        <table class="table text-center">
            <h4>Friends List</h4>
            <thead style="background-color: #255366;">
            <tr>
                    <th><p class="text-center">Name</p></th>
                    <th><p class="text-center">Username</p></th>

            </tr>
            </thead>
            <tbody>
            @foreach (SocialNetwork.DataAccess.User friend in Model.user.friends)
            {
                <tr>
                    <td>@friend.fullName</td>
                    <td>@friend.username</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="UserPosts">
        @foreach (SocialNetwork.DataAccess.UserPost post in Model.userpost)
        {
            @Html.Partial("_UserPostProfile", new SocialNetwork.WebUI.Models.UserPostViewModel() { post = post })
        }
    </div>
</div>

