@model IEnumerable<SignOffProject2WwbUI.Models.BookCartViewModels>
@{
    ViewBag.Title = "BookCart";
}

<h2>Book Cart</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(book => book.title)</th>
        <th>@Html.DisplayNameFor(book => book.price)</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => book.title)</td>
            <td>@Html.DisplayFor(modelItem => book.price)</td>
        </tr>
    }
</table>
