@model IEnumerable<SignOffProject2DBLayer.Book>
@{
    ViewBag.Title = "BookCart";
}

<h2>BookCart</h2>


<table class="table">
    <tr>
        <th>@Html.ActionLink("Book title", "Index")</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => book.title)</td>
        </tr>
    }
</table>