@model IEnumerable<SignOffProject2WebUI.Models.BookCartViewModels>
@{
    ViewBag.Title = "BookCart";
}

<h2>BookCart</h2>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Book title", "BookCart")</th>
        <th>@Html.ActionLink("Book price", "BookCart")</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => book.title)</td>
            <td>@Html.DisplayFor(model => book.price)</td>
        </tr>
    }
</table>
