@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title ProtoCourses</h2>
<h3>If you are emailing us, we aim to reply back within 48 hours.</h3>

<address>
    Borham Business Park <br />
    Borham Way<br />
    Hoddesdon<br />
    EN11 9FB<br />
    <abbr title="Phone">Phone:</abbr>
    0044 1992405711
</address>

<address>
    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:Enquiries@protocourses.com">Enquiries@protocourses.com</a><br />
</address>