@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProtoCourses</h1>
    <p class="lead">ProtoCourses allows you to improve your knowledge in core subjects. It will also allow you to improve your school grades!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Discover the range of courses available. These courses are enjoyable and interactive. We encourage you to follow along in the exercises and practice on your own. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more help</h2>
        <p>We offer the opportunity to get tailored coaching in specific areas of the subject of your desire.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host a course</h2>
        <p>If you host your own course, not only do you share your passion and knowledge, but you will also qualify for many free gifts.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>