@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ProtoCourses</h1>
    <p class="lead">ProtoCourses will allow you to improve your knowledge in core subjects as well as subjects that you may be interested in. More importantly, you will be able to improve your school grades!</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">More Information</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Discover the range of courses available. These courses are enjoyable and interactive. We encourage you to follow along in the exercises and practice on your own. 
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Courses/Overview">View Courses</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more help</h2>
        <p>We offer the opportunity to get tailored coaching in specific areas of the subject of your desire.</p>
        <p><a class="btn btn-primary btn-lg" href="~/Courses/Overview">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host a course</h2>
        <p>If you host your own course, not only do you share your passion and knowledge, but you will also qualify for many free gifts.</p>
        <p><a class="btn btn-primary btn-lg" href="~/Home/Contact">Get In Touch</a></p>
    </div>
</div>