@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>


@{
    ViewBag.Title = "Results";
}

<h2 class="text-center">Search Results</h2>

<div class="UserPosts">
    @foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
    {
        @Html.Partial("_UserPost", viewModel)
    }
</div>
