@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>

@{
    ViewBag.Title = "Code Wall";
}

<h1 class="text-center">The Code Wall</h1>
<div class="container make-post-form col-md-offset-2 col-md-8">   
    <hr class="post-hr" />
    <h2 class="text-center">Create new post</h2> 
    @Html.Partial("_MakePostForm", new SocialNetwork.WebUI.Models.UserPostViewModel())
</div>

<div class="container col-md-offset-2 col-md-8 slideanim" style="margin-bottom:300px;">
    <hr class="post-hr" />
    <h2 class="text-center">Recent Posts</h2>
    @foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
    {
        @Html.Partial("_UserPost", viewModel)
    }
</div>






