@model OnlineTraining.EntityFramework.Customers
@{
    ViewBag.Title = "Login";
}

<h2>Login to access your courses</h2>

@using (Ajax.BeginForm(
    "Account", "Login", new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "loginForm",
        InsertionMode = InsertionMode.InsertAfter
    }, new { @id = "loginForm" }))
{
    <div class="form-horizontal">
        <h4>Customer Login</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.customerEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerEmail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.customerpassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerpassword, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
